#header {
    width: 100%;
    height: 6%;
    position: absolute;
    top: -1;
    left: 0;
    margin: 0px;
    text-align: center;
    background-color:#E5D9C7;
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P';
    padding: 7px;
}

#yay {
    position: absolute;
    top: 90%;
}

#welcome { 
    position: absolute;
    top: 69%;
    font-family: 'Nanum Myeongjo', serif;

}

#instructions {
    position: absolute;
    top: 73%;
    font-family: 'Nanum Myeongjo', serif;

}